# Django settings
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=django-insecure-change-this
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_ROOT_URLCONF=config.urls
DJANGO_WSGI_APPLICATION=config.wsgi.application
DJANGO_STATIC_URL=/static/
PRODUCTION=False

# Database
DB_NAME=django
DB_USER=django
DB_PASSWORD=django
DB_HOST=localhost
DB_PORT=55432
SCHEMA=public
