{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="SustainaBowl Website" />
    <title>SustainaBowl</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    {% tailwind_css %}
    {% block meta %}{% endblock %}
  </head>
  <body>
    {% include "header.html" %}
    {% block content %}{% endblock %}
    {% include "footer.html" %}
  </body>
</html>
